p { margin-bottom: 0; margin-top: 0.6em; }
.margin-text { color: gray; margin-top: 1.2em; }
.codeblock { font-family: monospace, monospace; line-height: 1em; margin-top: 0.5em; }
.codeblock + .codeblock { font-family: monospace, monospace; line-height: 1em; margin-top: 0; }
h1 { font-size: 28px; font-weight: bold; margin: 0; }
h2 { font-size: 140%; font-weight: bold; margin-bottom: 0; margin-top: 1.7em; }
h1 + h2 { margin-top: 0.9em; }
.comment { border: 1px solid #AAAAAA; margin-top: 0.5em; }
.comment-body { background-color: #F8F8F8; font-size: 90%; margin: 0; padding: 3px; }
.comment-title { background: #E8E8E8; font-size: 80%; font-weight: bold; margin: 0; padding: 3px; }
.inline-comment { background-color: #E8E8E8; font-size: 0.9em; padding-bottom: 0.2em; padding-top: 0.2em; }
.inline-comment-info { font-size: 90%; font-weight: bold; }
.inline-comment-start { background-color: #E8E8E8; font-size: 90%; padding-bottom: 0.2em; padding-top: 0.2em; }
.emphasis-bolditalic { font-style: italic; font-weight: bold; }
.emphasis-strikethrough { text-decoration: line-through; }
.emphasis-underline { text-decoration: underline; }
code { padding: 0; }
.embedded-safety { font-weight: bold; }
.tms-state { color: #FF0000; }
.variable-bold { font-weight: bold; }
.variable-italic { font-style: italic; }
.variable-underline { text-decoration: underline; }
.workflow-state { padding-left: 10px; }
table { font-size: 14px; }
.table { margin-top: 0.5em; width: auto; }
.table-fixed { max-width: 100%; width: 100%; }
td { border: 1px solid #888888 !important;; padding: 5px !important; }
.tabletype-noframe td { border: none !important; }
th { background-color: #BBBBBB; border: 1px solid #888888 !important;; padding: 5px !important; }
.tabletype-noframe th { border: none !important; }
td.generated-entry > p { text-align: center; }
td > *:first-child, th > *:first-child { margin-top: 0; }
td > *:first-child > li:first-child, th > *:first-child > li:first-child { margin-top: 0; }
td > *:first-child > li:first-child > p:first-child, th > *:first-child > li:first-child > p:first-child { margin-top: 0; }
ol.list { margin: 0; padding-left: 35px; }
ol.list > li { margin-bottom: 0; margin-top: 0.6em; }
ul.list { margin: 0; padding-left: 35px; }
ul.list > li { margin-bottom: 0; margin-left: 0 !important; margin-top: 0.6em; padding-left: 0 !important; }
ol.list > li > ul, ul.list > li > ul { margin: 0; padding-left: 35px; }
ol.list > li > ul > li, ul.list > li > ul > li { margin-bottom: 0; margin-top: 0.6em; }
.list-safety { list-style-type: none; }
.list-image { list-style-type: none; }
.list-indent-1, .list-indent-2 { list-style-type: none; }
figure { margin-bottom: 0; margin-top: 0.5em !important; }
figure video,figure img,figure svg { display: block; height: auto; max-width: 100%; }
figure.img_80 video,figure.img_80 img,figure.img_80 svg { width: 80%; }
figure.img_50 video,figure.img_50 img,figure.img_50 svg { width: 50%; }
figure.img_margin video,figure.img_margin img,figure.img_margin svg { width: 20%; }
figure.img_fixed_textarea video,figure.img_fixed_textarea img,figure.img_fixed_textarea svg { width: 100%; }
figure.img_fixed_column video,figure.img_fixed_column img,figure.img_fixed_column svg { width: 100%; }
figure > figcaption { font-style: italic; }
.linklist-container { margin-top: 25px; }
.linklist-container+.linklist-container { margin-top: 20px; }
.linklist-title { font-size: 14px; font-weight: bold; }
.linklist-container > ul { list-style-type: none; padding-left: 25px; text-indent: 0; }
.linklist-container > ul > li { margin-top: 0.2em; }
.linklist-container > ul > li:before { content: "\e005"; display: inline-block; font-family: "schema-glyphs"; margin-left: -25px; text-align: center; text-indent: 0; width: 25px; }
ul.schema-condition { list-style-type: none; margin-bottom: 0; margin-top: 0.6em; padding-left: 35px; }
ul.schema-condition > li:before { content: "\e116"; display: inline-block; font-family: "schema-glyphs"; margin-left: -35px; text-align: center; text-indent: 0; width: 35px; }
ol.schema-instruction { margin-bottom: 0; margin-top: 0.6em; padding-left: 35px; }
ul.schema-result { list-style-type: none; margin-bottom: 0; margin-top: 0.6em; padding-left: 35px; }
ul.schema-result > li:before { content: "\e095"; display: inline-block; font-family: "schema-glyphs"; margin-left: -35px; text-align: center; text-indent: 0; width: 35px; }
ul.schema-intermediateresult { list-style-type: none; margin-bottom: 0; margin-top: 0.6em; padding-left: 70px; }
ul.schema-intermediateresult > li:before { content: "\e095"; display: inline-block; font-family: "schema-glyphs"; margin-left: -35px; text-align: center; text-indent: 0; width: 35px; }
.safety { list-style-type: none; margin-bottom: 0; margin-left: 0; margin-right: 0; margin-top: 0.6em; padding: 0; }
.safety-footer { background-color: gray; height: 5px; margin-bottom: 0; margin-top: 10px; }
.safety-severity-caution > .safety-footer { background-color: #FFDD00; height: 5px; margin-bottom: 0; margin-top: 10px; }
.safety-severity-danger > .safety-footer { background-color: #EF3B2F; height: 5px; margin-bottom: 0; margin-top: 10px; }
.safety-severity-notice > .safety-footer { background-color: #2596D1; height: 5px; margin-bottom: 0; margin-top: 10px; }
.safety-severity-warning > .safety-footer { background-color: #F49527; height: 5px; margin-bottom: 0; margin-top: 10px; }
.safety-header { font-size: 125%; font-weight: bold; margin-bottom: 10px; padding: 5px; }
.safety-severity-caution > .safety-header { background-color: #FFDD00; color: #000000; font-size: 125%; font-weight: bold; margin-bottom: 10px; padding: 5px; }
.safety-severity-danger > .safety-header { background-color: #EF3B2F; color: #FFFFFF; font-size: 125%; font-weight: bold; margin-bottom: 10px; padding: 5px; }
.safety-severity-notice > .safety-header { background-color: #2596D1; color: #FFFFFF; font-size: 125%; font-weight: bold; margin-bottom: 10px; padding: 5px; }
.safety-severity-warning > .safety-header { background-color: #F49527; color: #000000; font-size: 125%; font-weight: bold; margin-bottom: 10px; padding: 5px; }
.safety-cause { font-size: 125%; font-weight: bold; margin: 0; }
.safety-symbol { text-align: center; }
.safety-symbol > img { margin-left: 5px; margin-right: 5px; text-align: center; width: 100px; }
body { font-size: 14px; padding-top: 50px; position: relative; }
#content-container .container { width: 100%; }
#content-container { border-left-color: #3A4651; border-left-style: solid; border-left-width: 1px; left: 320px; margin-left: -320px; }
footer { margin-bottom: 20px; margin-top: 20px; }
.content-container { bottom: 0; left: 0; position: fixed; right: 0; top: 50px; }
.content-container>div { padding-top: 10px; }
.schema-title-page .content-container,.schema-root-page .content-container { top: 0; }
.schema-navbar { background-color: hsl(210,16.84%,37.25%); border-bottom-color: #3A4651; border-bottom-style: solid; border-bottom-width: 1px; height: 50px; left: 0; position: fixed; right: 0; top: 0; width: 100%; }
.schema-navbar-toggle { background: none; border: 0 none; color: rgb(255,255,255); cursor: pointer; font-size: 16px; margin-bottom: 8px; margin-top: 8px; padding-bottom: 7px; padding-left: 0; padding-right: 0; padding-top: 7px; }
.schema-navbar-brand { float: left; height: 50px; line-height: 20px; padding: 14px 15px; }
.schema-navbar-logo { height: 22px; }
#sidebar-toggle { float: left; padding-left: 15px; }
#language-toggle { float: right; padding-right: 15px; }
#navbar .schema-glyph { font-size: 18px; }
#navbar-structure-search { float: right; }
.schema-navbar-search { margin-bottom: 12px; margin-left: 12px; margin-right: 12px; margin-top: 12px; }
.schema-navbar-search input { background-image: url("../img/search.svg"); background-position: 2px 2px; background-repeat: no-repeat; border: 0 none; height: 24px; text-indent: 25px; }
#search-collapse { background-color: #4F5F6F; border: none !important; left: 0; margin: 0 !important; padding: 0 !important; position: fixed; top: 50px; width: 100%; z-index: 500; }
#search-collapse input { background-image: url("../img/search.svg"); background-position: 2px 2px; background-repeat: no-repeat; border: 0 none; height: 24px; margin: 12px; text-indent: 25px; width: calc(100% - 24px); }
ul.navbar-structure-pages { float: right; list-style-type: none; }
ul.navbar-structure-pages > li { float: left; height: 50px; transition: background-color linear 0.2s, color linear 0.2s; }
ul.navbar-structure-pages > li:hover { background-color: #3A4651; transition: color linear 0.2s; }
ul.navbar-structure-pages > li > a { line-height: 50px; outline: none; padding-bottom: 18px; padding-left: 12px; padding-right: 12px; padding-top: 18px; transition: color linear 0.2s; }
ul.navbar-structure-pages > li > a:hover { color: #EEEEEE; text-decoration: none; }
#off-canvas-menu { bottom: 0; left: 0; margin-left: -320px; margin-top: 0; position: fixed; top: 50px; width: 320px; }
#off-canvas-menu.animated,#content-container.animated { transition: margin-left 500ms cubic-bezier(0.465, 0.183, 0.153, 0.946); }
.showMenu #off-canvas-menu { margin-left: 0; }
.showMenu #navbar,.showMenu #content-container { margin-left: 0; }
@media (min-width: 992px) {
	#off-canvas-menu { bottom: 0; left: 0; margin-left: 0; margin-top: 0; position: fixed !important; top: 50px; width: 320px; }
	.off-canvas #content-container { left: 320px; margin-left: 0; }
}
#tree-container { background-color: #3A4651; bottom: 0; font-size: 12px; left: 0; padding-bottom: 6px; padding-left: 6px; padding-right: 6px; padding-top: 6px; position: absolute; right: 0; top: 37px; }
#tree-title { background-color: hsl(210,16.84%,37.25%); border-bottom-color: #4F5F6F; color: white; height: 36px; left: 0; line-height: 36px; max-height: 36px; min-height: 36px; position: absolute; right: 0; text-align: center; top: 0; vertical-align: middle; }
.jqtree-title, .jqtree-toggler { color: white !important; }
.jqtree_common { overflow: hidden; padding-bottom: 0; padding-top: 0px; text-overflow: ellipsis; white-space: nowrap; }
ul.jqtree-tree li.jqtree-selected > .jqtree-element, ul.jqtree-tree li.jqtree-selected > .jqtree-element:hover { background-color: #48A1C0; background-image: none; padding-bottom: 1px; padding-top: 1px; text-shadow: 0 0 1px rgba(255,255,255,0.3); }
.jqtree-element { padding-bottom: 1px; padding-top: 1px; }
.jqtree-toggler { font-family: "schema-glyphs"; font-style: normal; font-weight: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
li.jqtree_common { font-size: 12px; margin-bottom: 2px; margin-top: 2px; }
.jqtree-closed { margin-bottom: 2px !important; margin-top: 2px; }
.lexicon-entry { margin-top: 1em; }
.lexicon-entry-title { font-size: 120%; font-weight: bold; }
.lexicon-entry-content { margin-top: 0px; }
@media (min-width: 1200px) {
	.lexicon-entry-content { margin-top: 20px; }
}
.lexicon-entry-image { margin-top: 0.5em; }
.lexicon-entry-description { margin-top: 0.5em; }
.lexicon-link { white-space: nowrap; }
.schema-index-pagination { margin-bottom: 0; margin-top: 20px; }
p.index-subtopic { margin-left: 30px; margin-top: 0; }
.pagination>li:last-child>a,.pagination>li:last-child>span { border-bottom-right-radius: 0; border-top-right-radius: 0; }
.pagination>li:first-child>a,.pagination>li:first-child>span { border-bottom-left-radius: 0; border-top-left-radius: 0; }
.mobile .pagination>li>a,.mobile .pagination>li>span { height: 50px; padding-bottom: 14px; padding-left: 20px; padding-right: 20px; padding-top: 14px; width: 50px; }
.search-result { margin-top: 10px; }
.search-result-title { font-size: 1.2em; }
.search-result-info { font-size: 0.8em; font-style: italic; }
.search-result-highlight { font-weight: bold; }
#language-toggle { background: none; color: white; outline: none; }
#language-toggle:hover,#language-toggle.focus { background: none; border: none; color: white; outline: none; }
#language-dropdown { border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; border-top-left-radius: 4px !important; border-top-right-radius: 4px !Important; left: auto; list-style-type: none; margin: 0; margin-top: -4px; padding: 0; right: 3px; }
#language-dropdown > li { border-bottom-left-radius: 0; border-bottom-right-radius: 0; border-top-left-radius: 0; border-top-right-radius: 0; list-style-type: none; margin-bottom: 0; margin-top: 0; }
#language-dropdown > li.dropdown-header { border-bottom-left-radius: 0; border-bottom-right-radius: 0; border-top-left-radius: 0; border-top-right-radius: 0; list-style-type: none; margin-bottom: 0; margin-top: 0; }
#language-dropdown > li.langMenuItem { background-position: 0 6px; background-repeat: no-repeat; background-size: 20px 20px; }
#language-dropdown > li.langMenuItem::before { padding-right: 30px; }
.dropdown-menu { min-width: 220px; }
.dropdown-menu li.checked a { padding-right: 10px; }
.dropdown-menu li { padding-bottom: 3px; padding-top: 3px; }
.dropdown-menu>li>a { white-space: normal; }
.dropdown-menu li.checked a::after { color: rgb(89,194,230); content: "\e116"; display: inline; float: right; font-family: "schema-glyphs"; font-weight: 700; }
.dropdown-header { background-color: rgb(245,245,245); color: rgb(89,194,230); }
ul.schema-languages { font-size: 22px; list-style-type: none; margin-left: 0; text-indent: 40px; }
ul.schema-languages li { background-position: 0 6px; background-repeat: no-repeat; background-size: 30px 20px; }
ul.schema-languages li::before { padding-right: 40px; }
.schema-languages a,.schema-languages a:hover,.schema-languages a:focus { color: rgb(51,51,51); }
.schema-languages a,.schema-languages a:hover,.schema-languages a:focus { color: rgb(51,51,51); }
.schema-aspect-ar { background-image: url("../img/languages/ar.svg"); }
.schema-aspect-bg { background-image: url("../img/languages/bg.svg"); }
.schema-aspect-cs { background-image: url("../img/languages/cz.svg"); }
.schema-aspect-da { background-image: url("../img/languages/dk.svg"); }
.schema-aspect-de { background-image: url("../img/languages/de.svg"); }
.schema-aspect-el { background-image: url("../img/languages/gr.svg"); }
.schema-aspect-en { background-image: url("../img/languages/gb.svg"); }
.schema-aspect-en-US { background-image: url("../img/languages/us.svg"); }
.schema-aspect-es { background-image: url("../img/languages/es.svg"); }
.schema-aspect-fi { background-image: url("../img/languages/fi.svg"); }
.schema-aspect-fr { background-image: url("../img/languages/fr.svg"); }
.schema-aspect-hu { background-image: url("../img/languages/hu.svg"); }
.schema-aspect-hr { background-image: url("../img/languages/hr.svg"); }
.schema-aspect-it { background-image: url("../img/languages/it.svg"); }
.schema-aspect-is { background-image: url("../img/languages/is.svg"); }
.schema-aspect-ja { background-image: url("../img/languages/jp.svg"); }
.schema-aspect-mt { background-image: url("../img/languages/mt.svg"); }
.schema-aspect-nl { background-image: url("../img/languages/nl.svg"); }
.schema-aspect-no { background-image: url("../img/languages/no.svg"); }
.schema-aspect-pt { background-image: url("../img/languages/pt.svg"); }
.schema-aspect-pl { background-image: url("../img/languages/pl.svg"); }
.schema-aspect-ro { background-image: url("../img/languages/ro.svg"); }
.schema-aspect-ru { background-image: url("../img/languages/ru.svg"); }
.schema-aspect-sk { background-image: url("../img/languages/sk.svg"); }
.schema-aspect-sl { background-image: url("../img/languages/si.svg"); }
.schema-aspect-sv { background-image: url("../img/languages/se.svg"); }
.schema-aspect-tr { background-image: url("../img/languages/tr.svg"); }
.schema-aspect-zh { background-image: url("../img/languages/cn.svg"); }
.schema-aspect-zh-CHS { background-image: url("../img/languages/cn.svg"); }
.jumbotron { background-color: rgb(79,95,111); background-image: url("../../img/jumbotron.png"); background-size: cover; height: 380px; margin-top: -19px; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; }
.jumbotron h1 { color: rgb(255,255,255); }
.jumbotron .container { margin-top: 50px; }
#toTop-right { bottom: 20px; display: none; outline-color: rgb(0,0,0); outline-style: initial; outline-width: initial; position: fixed; right: 20px; text-decoration-color: rgb(0,0,0); text-decoration-line: none; text-decoration-style: initial; }
.mobile .btn-scroll-to-top { height: 50px; padding-bottom: 16px; padding-left: 17px; padding-right: 17px; padding-top: 16px; width: 50px; }
